build/
*.vvp
*.vcd
*.bak
*.mpf
*.mti
*.jdi
*.qws
*.wlf
wlft*
work/
.DS_Store
db/
incremental_db/
output_files/
simulation/
*.cdb
*.hdb
*.dat
*.psm
*.prw
*.dbs
*.rdb
*.qmsg
*.kpt
*.ddb
*.smsg
*.pin
*.sof
*.pof
*.rpt
*.summary
*.done
